---
import authors from '@/data/authors.json'
import { getAuthorHref } from '@/lib/getAuthorHref'
import { getBlogPostSlug } from '@/lib/getBlogPostSlug'
import { getCollection } from 'astro:content'

const posts = await getCollection('blog')
const lastFivePosts = posts.reverse().slice(0, 5)

const formatter = new Intl.DateTimeFormat('en-US', {
  month: 'short',
  day: 'numeric',
  year: 'numeric',
})
---

<h2>Blog posts</h2>

<ol class={'posts'}>
  {
    lastFivePosts.map((p) => {
      const author = authors[p.data.author as keyof typeof authors]
      return (
        <li>
          <article class={'post'}>
            <div class={'content'}>
              <h3>
                <a href={`/blog/${getBlogPostSlug(p.slug)}`}>{p.data.title}</a>
              </h3>
              <time class="date" datetime={p.data.date.toUTCString()}>
                {formatter.format(p.data.date)}
              </time>
            </div>

            <a
              href={getAuthorHref(author)}
              target="_blank"
              rel="noopener noreferrer"
              aria-title={author.name}
              class={'author'}
            >
              <img
                src={`https://secure.gravatar.com/avatar/${author.gravatar}&s=64`}
                class={'gravatar'}
                loading="lazy"
                width="64"
                height="64"
                alt={`Avatar of ${author.name}`}
              />
            </a>
          </article>
        </li>
      )
    })
  }
</ol>

<style>
  .posts {
    display: flex;
    flex-direction: column;
    gap: var(--space4);
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .post {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: var(--space5);
  }

  .posts li {
    margin-block-end: 0;
  }

  .posts li:not(:last-of-type) {
    border-block-end: 1px solid var(--gray4);
    padding-block-end: var(--space4);
  }

  .content {
    display: flex;
    flex-direction: column-reverse;
  }

  .content h3 {
    margin: 0;
  }

  .content time {
    color: var(--gray9);
  }

  .author {
    flex: 0 0 4rem;
    display: block;
    border-radius: 9999px;
    overflow: hidden;
    inline-size: 4rem;
    block-size: 4rem;
    border: 2px solid white;
    box-shadow: 0 0 0.5rem var(--gray6);
  }

  .gravatar {
    display: block;
    object-fit: cover;
    object-position: center;
  }
</style>
