---
import { Octokit } from "@octokit/rest";

const octokit = new Octokit();

const user = "tus";
const repos = [
  "tus.io",
  "tusd",
  "tus-js-client",
  "TUSKit",
  "tus-android-client",
  "tus-java-client",
  "tus-node-server",
  "tus-resumable-upload-protocol",
];

const contributors = (
  await Promise.all(
    repos.map(async (repo) => {
      const { data } = await octokit.repos.listContributors({
        owner: user,
        repo,
      });
      return data;
    })
  )
)
  .flat()
  .reduce((acc, curr) => {
    const existing = acc.find((c) => c.login === curr.login);
    if (existing) {
      existing.contributions += curr.contributions;
    } else {
      acc.push(curr);
    }
    return acc;
  }, [])
  .sort((a, b) => b.contributions - a.contributions);
---

<h2>Contributors ({contributors.length})</h2>

<p>People coding on tus</p>

<div class="contributors">
  {
    contributors.map((c) => (
      <a
        key={c.id}
        href={c.html_url}
        target="_blank"
        rel="noopener noreferrer"
        class="avatar"
        aria-label={`GitHub profile of ${c.login}`}
      >
        <img
          src={c.avatar_url}
          width="460"
          height="460"
          alt={`Avatar of ${c.login}`}
          loading="lazy"
          decoding="async"
        />
      </a>
    ))
  }
</div>

<style>
  .contributors {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: var(--space6);
    row-gap: var(--space5);
  }

  .avatar {
    display: block;
    height: 4rem;
    width: 4rem;
    border-radius: 999px;
    overflow: hidden;
    border: 2px solid white;
    box-shadow: 0 0 var(--space2) var(--gray8);
  }

  .avatar img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
</style>
