---
import { request } from "@octokit/request";
import { Debug } from "astro/components";

// const octokit = new Octokit({ auth: import.meta.env.GITHUB_TOKEN });

const user = "tus";
const repos = [
  "tus.io",
  "tusd",
  "tus-js-client",
  "TUSKit",
  "tus-android-client",
  "tus-java-client",
  "tus-node-server",
  "tus-resumable-upload-protocol",
];

const contributors = (
  await Promise.all(
    repos.map(async (repo) => {
      const { data } = await request("GET /repos/{owner}/{repo}/contributors", {
        owner: user,
        repo,
        per_page: 100,
        headers: {
          accept: "application/vnd.github+json",
          authorization: import.meta.env.GITHUB_TOKEN
            ? `token ${import.meta.env.GITHUB_TOKEN}`
            : undefined,
          "X-GitHub-Api-Version": "2022-11-28",
        },
      });
      return data;
    })
  )
)
  .flat()
  .reduce((acc, curr) => {
    const existing = acc.find((c) => c.login === curr.login);
    if (existing) {
      existing.contributions += curr.contributions;
    } else {
      acc.push(curr);
    }
    return acc;
  }, [])
  .sort((a, b) => b.contributions - a.contributions)
  .map((d) => ({
    id: d.id,
    html_url: d.html_url,
    login: d.login,
    avatar_url: d.avatar_url,
  }));
---

<h2>Contributors ({contributors.length})</h2>

<p>People coding on tus</p>

<div class="contributors">
  {
    contributors.map((c) => (
      <a
        key={c.id}
        href={c.html_url}
        target="_blank"
        rel="noopener noreferrer"
        class="avatar"
        aria-label={`GitHub profile of ${c.login}`}
      >
        <img
          src={c.avatar_url}
          width="460"
          height="460"
          alt={`Avatar of ${c.login}`}
          loading="lazy"
          decoding="async"
        />
      </a>
    ))
  }
</div>

<style>
  .contributors {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: var(--space6);
    row-gap: var(--space5);
  }

  .avatar {
    display: block;
    height: 4rem;
    width: 4rem;
    border-radius: 999px;
    overflow: hidden;
    border: 2px solid white;
    box-shadow: 0 0 var(--space2) var(--gray8);
  }

  .avatar img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
</style>
