---
import type { CollectionEntry } from 'astro:content'

interface Props {
  implementation: CollectionEntry<'implementations'>
}
const { implementation } = Astro.props
---

<li>
  <a class="title" href={implementation.data.href}>
    {implementation.data.name}
  </a>{' '}
  <div class="author">
    — by{' '}
    {
      implementation.data.authors.map((author, index, arr) => {
        const isLast = index === arr.length - 1
        return (
          <>
            <a href={author.href}>{author.name}</a>
            {!isLast && <span> and </span>}
          </>
        )
      })
    }
  </div>
  <div class="description" set:html={implementation.data.description} />
  <div class="license">
    Licensed under {implementation.data.license}
  </div>
</li>
